*{
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 span{
  display: flex;
  font-size: 0.9rem;
}

h1 span>a{
  text-decoration: none;
  border: 1px solid black;
  padding: 8px;
  font-weight: 500;
  color: black;
  background-color: azure;
}

h1 span>a:active{
  transform: scale(0.9);
}

.messages{
  background-color: azure;
  background-image: repeating-linear-gradient(23deg, #ebe8e8, transparent 100px);
}

li{
  list-style: none;
  padding: 5px 0;
}

li:first-child{
  font-weight: 700;
}
